@import url('https://fonts.googleapis.com/css2?family=Cabin&family=PT+Serif&family=Poppins:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&family=REM&family=Roboto+Slab:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cabin;
}

.nav-bar {
    background-color: rgb(1, 1, 44);
    color: white;
    padding: 30px;
}

.nav-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar li {
    margin: 0 15px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 20px;
}

.nav-bar a:hover {
    color: #ff8800;
}

.logo {
    font-weight: bolder;
    font-size: 30px;

}

.one {
    color: gold;
    font-weight: bolder;
}

.two {
    color: white;
    font-weight: lighter;
}

.three {
    color: gold;
    font-weight: bolder;
}

.four {
    color: white;
    font-weight: lighter;
}

.page-1 {
    width: 100%;
    height: 700px;
    background: linear-gradient(rgb(1, 1, 44), rgb(1, 1, 44));
}

.pic {
    position: absolute;
    margin-top: 2%;
    margin-left: 35%;
    height: 600px;

}

#menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Responsive styling */
@media (max-width: 500px) {
    .nav-bar ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        width: 50%;
        padding: 20px;
        border-radius: 5px;
        position: absolute;
        height: 400px;
        z-index: 9;
    }

    .nav-bar ul.active {
        display: flex;
        position: absolute;
    }

    #menu-icon {
        display: block;
    }

    .nav-bar a {
        color: black;
        position: ab;
    }
    .logo{
        display: none;
    }
}

.head-1 {
    color: #ffff;
    position: absolute;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 100px;
}

.icon {
    height: 80px;
    position: absolute;
    margin-left: 10%;
    margin-top: 3%;
}

.para-1 {
    color: #ffff;
    font-size: 30px;
    position: absolute;
    margin-left: 10%;
    margin-top: 20%;
}

.ri-linkedin-box-fill {
    font-size: 30px;
    color: #fff;
    background-color: blue;
    position: absolute;
    margin-left: 16%;
    margin-top: 25%;
}

.ri-github-fill {
    font-size: 30px;
    color: black;
    background-color: white;
    position: absolute;
    margin-left: 21%;
    margin-top: 25%;
}

.ri-instagram-line {
    font-size: 30px;
    color: white;
    position: absolute;
    margin-left: 26%;
    margin-top: 25%;
}

.para-2 {
    color: coral;
    font-size: 30px;
    position: absolute;
    margin-left: 9%;
    margin-top: 35%;
    height: 50px;
}

.btn1 {
    color: #ffff;
    background-color: chocolate;
    width: 20%;
    height: 50px;
    position: absolute;
    margin-left: 12%;
    border-radius: 20px 20px 20px 20px;
    margin-top: 30%;
    font-size: 20px;
    font-weight: bold;

}

.video {
    position: absolute;
    width: 30%;
    height: 200px;
    margin-left: 70%;
    margin-top: 10%;
    border-radius: 30px 30px 30px 30px;
    transition: transform 0.9s ease-in-out;
}

.video:hover {
    transform: scale(1.1);
}

.page-2 {
    width: 100%;
    height: 450px;
    background-color: rgb(1, 1, 64);
}

.small {
    position: absolute;
    margin-left: 10%;
    margin-top: 10%;
    width: 12%;
}

.head-2 {
    position: absolute;
    color: #fff;
    font-size: 35px;
    margin-left: 50%;
    margin-top: 3%;
    animation-name: leftmove;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-timing-function: linear;
}

.p1 {
    position: absolute;
    color: chocolate;
    font-size: 35px;
    margin-left: 49%;
    margin-top: 5%;
    animation-name: leftmove;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-timing-function: linear;
}

.para-3 {
    color: #ffff;
    position: absolute;
    margin-left: 35%;
    font-size: 20px;
    margin-top: 12%;
}

.name {
    color: gold;
    font-weight: bold;
}

.page-3 {
    width: 100%;
    height: 700px;
    background-color: rgb(1, 1, 44);
}

.head-3 {
    position: absolute;
    color: #fff;
    margin-left: 45%;
    font-size: 35px;
    margin-top: 3%;
    animation-name: leftmove;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 4s;
    animation-timing-function: linear;

}

@keyframes leftmove {
    from {
        left: -45%;
    }

    to {
        left: 0%;
    }
}

.p2 {
    color: chocolate;
    position: absolute;
    margin-left: 43%;
    margin-top: 5%;
    font-size: 25px;
    animation-name: leftmove;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 4s;
    animation-timing-function: linear;
}

.html {
    background-color: white;
    position: absolute;
    margin-left: 10%;
    margin-top: 12%;
    width: 7%;
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-timing-function: linear;

}
@keyframes move{
    from{
        margin-left:0%
    }
    to{

        margin-left: 10%;
    }
}

.para-4 {
    color: #ffff;
    position: absolute;
    margin-left: 20%;
    margin-top: 15%;
    font-size: 35px;
    font-weight: bolder;
}

.css {
    background-color: white;
    width: 7%;
    position: absolute;
    margin-left: 10%;
    margin-top: 25%;
    animation-name: css;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-timing-function: linear;
}
@keyframes css{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 14%;
    }
}

.para-5 {
    position: absolute;
    color: #ffff;
    margin-left: 20%;
    margin-top: 28%;
    font-size: 35px;
    font-weight: bolder;
}

.js {
    position: absolute;
    width: 7%;
    margin-left: 40%;
    margin-top: 12%;
    background-color: #ffff;
    animation-name: js;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-timing-function: linear;
}
@keyframes js{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 40%;
    }
}

.para-6 {
    position: absolute;
    color: white;
    margin-left: 51%;
    margin-top: 15%;
    font-weight: bolder;
    font-size: 35px;
}

.sql {
    background-color: white;
    width: 10%;
    position: absolute;
    margin-left: 40%;
    margin-top: 25%;
    animation-name: sql;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-timing-function: linear;
}
@keyframes sql{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 40%;
    }
}

.para-7 {
    position: absolute;
    color: #ffff;
    margin-left: 52%;
    margin-top: 28%;
    font-size: 35px;
    font-weight: bolder;
}

.react {
    background-color: white;
    width: 10%;
    position: absolute;
    margin-left: 70%;
    margin-top: 12%;
    animation-name: react;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-timing-function: linear;
}
@keyframes react{
    from{
        margin-left:0%;
    }
    to{
        margin-left: 70%;
    }
}

.para-8 {
    position: absolute;
    color: #ffff;
    margin-left: 83%;
    margin-top: 15%;
    font-size: 35px;
    font-weight: bolder;
}

.node {
    background-color: white;
    width: 10%;
    position: absolute;
    margin-left: 70%;
    margin-top: 25%;
    animation-name: node;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 9s;
    animation-timing-function: linear;
}
@keyframes node{
    from{
        margin-left: 0%;
    }
    to{
        margin-left: 70%;
    }
}

.para-9 {
    position: absolute;
    color: #ffff;
    margin-left: 83%;
    margin-top: 26%;
    font-size: 35px;
    font-weight: bolder;
}

.p3 {
    position: absolute;
    color: chocolate;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 37%;
}

.page-4 {
    width: 100%;
    height: 800px;
    background-color: rgb(1, 1, 64);
}

.head-4 {
    color: #fff;
    font-size: 35px;
    position: absolute;
    margin-left: 45%;
    margin-top: 1%;
}

.img-1 {
    width: 20%;
    height: 250px;
    position: absolute;
    margin-left: 5%;
    border: 2px solid gold;
    animation-name: img1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 15s;
    animation-timing-function: linear;
}
.img-1:hover{
    box-shadow: 10px 10px 10px 10px gold;
}
@keyframes img1{
    from{
        margin-top:10%;
    }
    to{
        margin-top:0%;
    }
}

.p4 {
    color: chocolate;
    position: absolute;
    margin-left: 44%;
    margin-top: 3%;
    font-size: 25px;
}

.head1 {
    color: gold;
    position: absolute;
    margin-left: 10%;
    margin-top: 18%;
    font-size: 25px;
    font-weight: bolder;
}

.para-10 {
    color: lightgrey;
    position: absolute;
    font-weight: 100;
    margin-left: 5%;
    margin-top: 21%;
    font-size: 15px;
    font-weight: lighter;
}

.img-2 {
    width: 20%;
    height: 250px;
    position: absolute;
    margin-left: 30%;
    margin-top: 7%;
    border: 2px solid gold;
    animation-name: img2;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 16s;
    animation-timing-function: linear;
}
.img-2:hover{
    box-shadow: 10px 10px 10px 10px red;
}
@keyframes img2{
    from{
        margin-top: 15%;
    }
    to{
        margin-top: 7%;
    }

}

.head2 {
    position: absolute;
    color: gold;
    font-size: 25px;
    font-weight: bolder;
    margin-left: 35%;
    margin-top: 24%;
}

.para-11 {
    position: absolute;
    color: lightgray;
    font-size: 15px;
    font-weight: light;
    margin-left: 31%;
    margin-top: 27%;
}

.img-3 {
    width: 20%;
    height: 250px;
    margin-left: 55%;
    margin-top: 13%;
    border: 2px solid gold;
    animation-name: img3;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 17s;
    animation-timing-function: linear;
}
.img-3:hover{
    box-shadow: 10px 10px 10px 10px gold;
}
@keyframes img3{
    from{
        margin-top: 20%;
    }
    to{
        margin-top: 13%;
    }
}
.head3 {
    position: absolute;
    color: gold;
    font-size: 25px;
    margin-left: 58%;
}

.para-12 {
    color: lightgray;
    position: absolute;
    margin-left: 56%;
    margin-top: 3%;
    font-size: 15px;
}

.img-4 {
    position: absolute;
    width: 20%;
    height: 250px;
    margin-top: 21%;
    margin-left: 3%;
    border: 2px solid gold;
    animation-name: img4;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-delay: 18s;
    animation-timing-function: linear;
}
.img-4:hover{
    box-shadow: 10px 10px 10px 10px red;
}
@keyframes img4{
    from{
        margin-top: 25%;
    }
    to{
        margin-top: 21%;
    }
}

.head4 {
    color: gold;
    font-size: 25px;
    position: absolute;
    margin-left: 83%;
    margin-top: 9%;
}

.para-13 {
    color: lightgray;
    position: absolute;
    margin-left: 80%;
    margin-top: 12%;
}

.page-5 {
    width: 100%;
    height: 700px;
    background-color: rgb(1, 1, 44);
}

.head-5 {
    position: absolute;
    color: #fff;
    font-size: 25px;
    margin-left: 45%;
    font-weight: bolder;
    padding: 10px;

}

.para-14 {
    position: absolute;
    color: chocolate;
    font-size: 25px;
    margin-left: 44%;
    margin-top: 2%;
}

.nam {
    position: absolute;
    margin-top: 15%;
    padding: 15px;
    width: 25%;
    margin-left: 10%;
}

.mobile {
    position: absolute;
    margin-top: 20%;
    padding: 15px;
    width: 25%;
    margin-left: 10%;
}

.id {
    position: absolute;
    margin-top: 25%;
    padding: 15px;
    width: 25%;
    margin-left: 10%;
}

.message {
    position: absolute;
    margin-top: 30%;
    padding: 40px;
    width: 25%;
    margin-left: 10%;
    text-align: left;
}

.submit {
    position: absolute;
    margin-top: 39%;
    padding: 15px;
    width: 10%;
    margin-left: 25%;
    background-color: chocolate;
    color: white;
    font-size: 20px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bolder;
}
.para-15{
    color: gold;
    position: absolute;
    margin-left: 17%;
    margin-top: 10%;
    font-size: 25px;
}

footer{
    width: 100%;
    height: 300px;
    background:linear-gradient(black,black,rgb(1,1,94),black,rgb(1,1,94),rgb(1,1,94));
}
.design{
    color:#fff;
    position: absolute;
    margin-top: 10%;
    margin-left: 35%;
    font-weight: bolder;
}
.ri-linkedin-box-line{
    font-size: 45px;
    color: #fff;
    position: absolute;
    margin-left: 40%;
    margin-top: 15%;
}
.ri-github-line{
    font-size: 45px;
    position: absolute;
    color: #fff;
    margin-left: 45%;
    margin-top: 15%;
}

.ri-instagram-fill{
    font-size: 45px;
    position: absolute;
    color: #fff;
    margin-left:50%;
    margin-top: 15%;
}

.ri-linkedin-box-line:hover{
   color: red;
}
.ri-instagram-fill:hover{
    color: red;
}
.ri-github-line:hover{
    color:gold;
}


/* Responsive design */

@media(max-width:500px){
    .page1{
        width: 100%;
    }
    .one{
        color: crimson;
    }
    .two{
        color:green;
    }
    .icon{
        position: absolute;
        width: 10%;
        height: 50px;
    }
    .head-1{
        margin-top: 20%;
        font-size: 40PX;
        position: absolute;
        margin-left: 10%;
    }
    .para-1{
        font-size: 25px;
        margin-top: 40%;
    
    }
    .ri-linkedin-box-fill{
        margin-top: 65%;
        background-color: none;
    }
    .ri-github-fill{
        margin-top: 65%;
        margin-left: 30%;
        background-color:none;
    }
    .ri-instagram-line{
        margin-top: 65%;
        margin-left: 45%;
        color: red;
        background-color: white;
    }
    .btn1{
        font-size: 20px;
        width: 50%;
        margin-top:80%;
     }

    .para-2{
        display: none;

    }
    .pic{
        width: 60%;
        height:300px;
        margin-top: 90%;
        margin-left: 5%;
    }
    .video{
        margin-top: 90%;
        width: 40%;
        margin-left: 60%;
    }
    
    .head-2{
        font-size: 20px;
        margin-left: 40%;
    }
    .p1{
        font-size: 20px;
        margin-left: 37%;
        margin-top: 7%;
    }
    .para-3{
        font-size: 15px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top:50%;
    }
    .small{
        width: 20%;
        margin-top: 20%;
        margin-left: 40%;
    }
    .head-3{
        font-size: 20px;
        margin-left: 40%;
    }
    .p2{
        font-size: 15px;
        margin-left: 35%;
        margin-top: 8%;

    }
    .html{
        margin-top: 15%;
        width: 15%;
        margin-left: 30%;
        animation-name: img1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    @keyframes img1{
        from{
            margin-left:-20%;
        }
        to{
            margin-left: 30%;
        }

    }

    .para-4{
        font-size: 20px;
        margin-left: 50%;
        margin-top: 20%;
        animation-name:para1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    @keyframes para1{
        from{
            margin-left: -5%;
        }
        to{
            margin-left: 50%;
        }

    }
    .css{
        margin-top: 40%;
        width: 15%;
        margin-left: 30%;
        animation-name: img1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    .para-5{
        font-size: 20px;
        margin-left: 50%;
        margin-top: 45%;
        animation-name:para1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    .p3{
        margin-top: 160%;
        margin-left: 8%;
        font-size: 8px;
    }
    .js{
        width: 15%;
        margin-left: 30%;
        margin-top: 65%;
        animation-name: img1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    .para-6{
        font-size: 20px;
        margin-left: 50%;
        margin-top: 70%;
        animation-name:para1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }

    .sql{
        width: 15%;
        margin-left: 30%;
        margin-top: 90%;
        animation-name: img1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    .para-7{
        font-size: 20px;
        margin-left: 50%;
        margin-top: 91%;
         animation-name:para1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
      
    }
    .react{
        width: 15%;
        margin-left: 30%;
        margin-top: 110%;
        animation-name: img1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    .para-8{
        font-size: 20px;
        margin-left: 50%;
        margin-top: 112%;
        animation-name:para1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    .node{
        width: 15%;
        margin-left: 30%;
        margin-top: 135%; 
        animation-name: img1;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    .para-9{
        font-size: 20px;
        margin-left: 50%;
        margin-top: 136%;
        animation-name:para1;
        animation-duration: 7s;
        animation-iteration-count: 1;
        animation-delay: 10s;
        animation-timing-function: linear;
    }
    @keyframesi img1{
        display:none;
    }

    .head-4{
        font-size: 25px;
        margin-top: 10%;
    }
    .p4{
        font-size: 20px;
    }
    .page-4{
        width: 100%;
        height: 1500px;
    }
    .img-1{
        width: 60%;
        margin-top: 25%;
        margin-left: 25%;
        height: 150px;
        animation-name: pro;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 12s;
        animation-timing-function: linear;
    }
    @keyframes pro{
        from{
            margin-left: -10%;
        }
        to{
            margin-left:25%;
        }
    }
    .head1{
        font-size: 17px;
        margin-top: 68%;
        margin-left: 45%;
    }
    .para-10{
        font-size: 13px;
        margin-top:78%;
        margin-left: 20%;
    }
    .img-2{
        width: 60%;
        height: 150px;
        margin-top:110%;
        margin-left: 25%;
        animation-name: pro;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 12s;
        animation-timing-function: linear
    }
    .head2{
        font-size: 17px;
        margin-top: 155%;
        margin-left: 45%;
    }
    .para-11{
        font-size: 13px;
        margin-top:165%;
        margin-left: 20%;
    
    }

    .img-3{
        width: 60%;
        height: 150px;
        margin-top: 190%;
        margin-left: 25%;
        animation-name: pro;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 12s;
        animation-timing-function: linear
    }
    .head3{
        font-size: 17px;
        margin-top: 5%;
        margin-left: 35%;
    }
    .para-12{
        font-size: 13px;
        margin-top:15%;
        margin-left: 20%;
    }
    .img-4{
        width: 60%;
        height: 150px;
        margin-top: 280%;
        margin-left: -60%;
        animation-name: gro;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-delay: 12s;
        animation-timing-function: linear
    }
    @keyframes gro{
        from{
            margin-left:-95%;
        }
        to{
            margin-left: -60%;
        }
    }
    .head4{
        font-size: 17px;
        margin-top: 100%;
        margin-left: 40%;
    }
    .para-13{
        font-size: 13px;
        margin-top:110%;
        margin-left: 25%;
    }
    .p4{
        margin-top: 15%;
        margin-left: 40%;
    }
    .head-5{
        font-size: 20px;
        margin-left: 30%;
    }
    .para-14{
        font-size: 25px;
        margin-left: 25%;
        margin-top: 5%;
    }
    .para-15{
        font-size: 20px;
        margin-left: 30%;
        margin-top: 20%;
    }
    .nam{
        width: 70%;
        height: 20px;
        margin-top: 30%;
        margin-left: 15%
    }
    .mobile{
        width: 70%;
        height: 20px;
        margin-top: 50%;
        margin-left: 15%
    }
    .id{
        width: 70%;
        height: 20px;
        margin-top: 70%;
        margin-left: 15%
    }
    .message{
        width: 70%;
        height: 20px;
        margin-top: 90%;
        margin-left: 15%
    }
    .submit{
        width: 30%;
        height: 35px;
        font-size: 15px;
        padding: 3px;
        margin-top:120%;
        margin-left: 35%;
    }

    .design{
        font-size: 18px;
        margin-left: 8%;
    }
    .ri-linkedin-box-line{
        margin-top: 30%;
        font-size: 40px;
        margin-left: 20%;
    }
    .ri-github-line{
        margin-top: 30%;
        font-size: 40px;
        margin-left: 40%;
    }
    .ri-instagram-fill{
        margin-top: 30%;
        font-size: 40px;
        margin-left: 60%;
    }
}

